*{
margin: 0;
padding: 0;
box-sizing: border-box;


}

body {
    background: 
      -webkit-linear-gradient(rgba(5, 610, 255, 0.4), rgba(135, 60, 255, 0.0) 80%),
      -webkit-linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(255, 160, 65, 0.9) 76%);
  }

/*Регистрация*/

.form-wrap {
    width: 527px;
    background: #ffd500;
    border-radius: 20px;
    position: absolute;
    bottom: -121vh;
    right: 0;
}
.form-wrap *{transition: .1s linear}
.profile {
  width: 240px;
  float: left;
  text-align: center;
  padding: 30px;
}
form {
  background: white;
  float: left;
  width: calc(100% - 240px);
  padding: 30px;
  border-radius: 0 20px 20px 0;
  color: #7b7b7b; 
}
.form-wrap:after, form div:after {
  content: "";
  display: table;
  clear: both;
}
form div {
  margin-bottom: 15px;
  position: relative;
}
h1 {
  font-size: 24px;
  font-weight: 400;
  position: relative;
  margin-top: 50px;
}
h1:after {
  content: "\f138";
  font-size: 40px;
  font-family: FontAwesome;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

/********************** стилизация элементов формы **********************/
label, span {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}
input[type="text"], input[type="email"] {
  border-width: 0;
  outline: none;
  margin: 0;
  width: 100%;
  padding: 10px 15px;
  background: #e6e6e6;
}
input[type="text"]:focus, input[type="email"]:focus {
  box-shadow: inset 0 0 0 2px rgba(0,0,0,.2);
}
.radio label {
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  width: 50%;
  float: left;
  line-height: 40px;
}
.radio input {
  position: absolute;  
  opacity: 0;
}
.radio-control {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background: #e6e6e6;
  border-radius: 50%;
  text-align: center;
}
.male:before {
  content: "\f222";
  font-family: FontAwesome;
  font-weight: bold;
}
.female:before {
  content: "\f221";
  font-family: FontAwesome;
  font-weight: bold;
}
.radio label:hover input ~ .radio-control,
.radiol input:focus ~ .radio-control {
  box-shadow: inset 0 0 0 2px rgba(0,0,0,.2);
}
.radio input:checked ~ .radio-control {
  color: red;
}

.Countries{
  position: absolute;
  position: absolute;
    top: 220vh;
    right: 17ch;
    color: white;
    font-size: 1.1em;
}
select {
  width: 11%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  bottom: -128vh;
  right: 0vw;
}
select::-ms-expand {
  display: none; /*убираем галочку в IE*/
}
.select-arrow {
  position: absolute;
  top: 38px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none; /*активизируем показ списка при нажатии на стрелку*/
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
button {
  padding: 10px 0;
  border-width: 0;
  display: block;
  width: 120px;
  margin: 25px auto 0;
  background: #60e6c5;
  color: white;
  font-size: 14px;
  outline: none;
  text-transform: uppercase;
}

/********************** добавляем форме адаптивность **********************/
@media (max-width: 600px) {
  .form-wrap {margin: 20px auto; max-width: 550px; width:100%;}
  .profile, form {float: none; width: 100%;}
  h1 {margin-top: auto; padding-bottom: 50px;}
  form {border-radius: 0 0 20px 20px;}
}

.Radio{
  position: absolute;
    bottom: -107vh;
    right: 7px;
    color: aliceblue;
}

/*The end регистрация*/

.container{
    width: 100vw;
    height: 1217px;
    
   
}
img{
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
  position: absolute;
  text-transform: uppercase;
  font-family: 'Rubik One', sans-serif;
  TOP: 24vh;
  width: 46vw;
  height: 68px;
  left: 28vw;
  font-size: 1.7em;
  background: rgb(118 102 8);
  color: white;
  display: table;
  border-radius: 5px;
  mix-blend-mode: multiply;
  padding: 19px 8px 14px 22px;
}

p{
  position: absolute;
    text-transform: uppercase;
    font-family: 'Rubik One', sans-serif;
    TOP: 38vh;
    width: 46vw;
    left: 49vw;
    font-size: 1.4em;
    background: #625819;
    color: white;
    display: table;
    border-radius: 5px;
    mix-blend-mode: multiply;
    padding: 0px 7px 0px 24px;
}
.log_in{
  width: 25px;
}

.logo{
    TOP: -4PX;
    width: 107px;
    height: 92px;
    z-index: 2;
    POSITION: absolute;
}

h6{
  TOP: 23PX;
    width: 168px;
    height: 40px;
    z-index: 2;
    POSITION: absolute;
    left: 100px;
    font-size: 1em;
}

.cf:before, .cf:after {
    content:" ";
    display: table;
  }
  .cf:after {
    clear: both;
  }
  .cf {
    *zoom: 1;
  }
  .menu {
    list-style:none;
    width: 800px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    position: absolute;
    position: fixed;
    top: 0;
    left: 37vw;
    z-index: 1;

  }
  .menu > li {
    background: #806801;
    float: left;
    position: relative;
    -webkit-transform: skewX(25deg);
  }
  .menu a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica;
    font-size: 14px;
  }
  .menu li:hover {
    background: #e74c3c;
  }
  .menu > li > a {
    -webkit-transform: skewX(-25deg);
    padding: 1em 2em;
  }
  /* Dropdown */
  .submenu {
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    -webkit-transform: skewX(-25deg);
    -webkit-transform-origin: left top;
  }
  .submenu li {
    background-color: #806801;
    position: relative;
    overflow: hidden;
  }
  .submenu > li > a {
    padding: 1em 2em;
  }
  .submenu > li::after {
    content:'';
    position: absolute;
    top: -125%;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, .9);
  }
  /* Odd stuff */
  .submenu > li:nth-child(odd) {
    -webkit-transform: skewX(-25deg) translateX(0);
  }
  .submenu > li:nth-child(odd) > a {
    -webkit-transform: skewX(25deg);
  }
  .submenu > li:nth-child(odd)::after {
    right: -50%;
    -webkit-transform: skewX(-25deg) rotate(3deg);
  }
  /* Even stuff */
  .submenu > li:nth-child(even) {
    -webkit-transform: skewX(25deg) translateX(0);
  }
  .submenu > li:nth-child(even) > a {
    -webkit-transform: skewX(-25deg);
  }
  .submenu > li:nth-child(even)::after {
    left: -50%;
    -webkit-transform: skewX(25deg) rotate(3deg);
  }
  /* Show dropdown */
  .submenu, .submenu li {
    opacity: 0;
    visibility: hidden;
  }
  .submenu li {
    transition: .2s ease -webkit-transform;
  }
  .menu > li:hover .submenu, .menu > li:hover .submenu li {
    opacity: 1;
    visibility: visible;
  }
  .menu > li:hover .submenu li:nth-child(even) {
    -webkit-transform: skewX(25deg) translateX(15px);
  }
  .menu > li:hover .submenu li:nth-child(odd) {
    -webkit-transform: skewX(-25deg) translateX(-15px);
  }
